
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
  
  
  *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body{
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 50px;
        min-height: 100vh;
        background: #dde1e7;
        font-family: "Poppins", serif;
        color: #4e4b4b; 
    }

    /* Analog clock start  */

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        box-shadow: -5px -5px 5px rgba(255,255,255,0.8),
                    5px 5px 5px rgba(0,0,0,0.3);
    }

    .a-clock{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 85%;
        width: 85%;
        border-radius: 50%;
        box-shadow: -5px -5px 5px rgba(255,255,255,0.8) inset,
                    5px 5px 5px rgba(0,0,0,0.3) inset;
    }

    .a-clock::before{
        content: "";
        height: 10px;
        width: 10px;
        background: #fff;
        border-radius: 50%;
        z-index: 999;
    }


    .a-clock span{
        position: absolute;
        inset: 0px;
        text-align: center;
        transform: rotate(calc(30deg * var(--i)));
    }

    .a-clock span b{
        display: inline-block;
        transform: rotate(calc(-30deg * var(--i)));
        font-size: 20px;
    }

    .hands{
        position: absolute;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }

    .hands i{
        position: absolute;
        height: 50px;
        width: 8px;
        background: #000;
        border-radius: 50px;
        transform-origin: bottom;
    }

    i:nth-child(1){
        height: 35px;
        width: 6px;
        background: #ff0000;
    }
    i:nth-child(2){
        height: 50px;
        width: 4px;
        background: #0000ff;
    }
    i:nth-child(3){
        height: 60px;
        width: 2px;
        background: dodgerblue;
    }

    /* Analog clock end  */

    /* Digital clock start  */

    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 180px;
        width: 180px;
        border-radius: 50%;
        box-shadow: -5px -5px 5px rgba(255,255,255,0.8),
                    5px 5px 5px rgba(0,0,0,0.3);
    }

    .d-clock{

        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        height: 85%;
        width: 85%;
        border-radius: 50%;
        column-gap: 5px;
        box-shadow: -5px -5px 5px rgba(255,255,255,0.8) inset,
                    5px 5px 5px rgba(0,0,0,0.3) inset;

    }

    .d-clock .comon {
        font-size: 25px;
        font-weight: 600;
    }

    /* Digital clock end  */